$color-primary : #ec2c25;

$color-primary-light-1: #ff5c56;

$color-primary-dark-1: #cc1e18;

$color-blue-light-1: #0060df;

$color-blue-dark-1: #003eaa;

$color-green-light-1: #7ed56f;

$color-green-dark-1: #28b485;

$color-grey-light-1: #ddd;
$color-grey-light-2: #ccc;
$color-grey-light-3: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #444;
$color-grey-dark-3: #222;