$color-primary : #ec2c25;

$color-primary-light-1: #ff5c56;

$color-primary-dark-1: #cc1e18;

$color-blue-light-1: #0060df;
$color-blue-light-2: #66D9CE;
$color-blue-light-3: #66D9EF;

$color-blue-dark-1: #003eaa;

$color-green-light-1: #7ed56f;
$color-green-light-2: #9AE22E;

$color-yellow-1: #FFD712;

$color-green-dark-1: #28b485;

$color-pink-1: #F92658;

$color-pink-light-1: #DA70B3;

$color-purple-light-1: #AE81FF;
$color-purple-light-2: #AE81F2;

$color-white-1: white;
$color-white-2: #F8F8F2;

$color-grey-light-1: #ddd;
$color-grey-light-2: #ccc;
$color-grey-light-3: #eee;
$color-grey-light-4: #A3ABAA;

$color-grey-dark-1: #999;
$color-grey-dark-2: #444;
$color-grey-dark-3: #222;
$color-grey-dark-4: #272822;