.header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;
    height: 5rem;
    align-items: center;
    

    &__link {
        padding: 1rem 1.2rem;
    }

    &-container {
        background-color: white;
        border-bottom: 1px solid $color-grey-light-1;
    }
}