.modulepage {
    &-container {

        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
        padding: 2rem 4rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid $color-grey-dark-2;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem $color-grey-light-3;
        background-color: white;
    }

    &-header {
        text-transform: uppercase;
    }

    &-body {
        padding: 2rem 4rem;
        display: flex;
        flex-direction: row;
        align-self: stretch;

        &-1 {
            padding: 2rem 4rem;
            flex: 1;

            & > p {
                margin-bottom: 1rem;
            }
        }

        &-2 {
            padding: 2rem 4rem;
            flex: 1;
        }
    }

}