.modulepage {
    &-container {

        font-size: 1.6rem;
        font-family: 'Lato', sans-serif;
        padding: 2rem 4rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid $color-grey-dark-2;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem $color-grey-light-3;
        background-color: white;
    }

    &-header {
        text-transform: uppercase;
    }

    &-body {
        padding: 2rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-gap: 2rem;

        &-1 {
            padding: 2rem 4rem;
            flex: 1;

            & > p {
                margin-bottom: 1rem;
            }
        }

        &-2 {
            padding: 2rem 4rem;
            flex: 1;
        }
    }

    &--redtext {
        color: $color-pink-1;
    }

    &--lightbluetext {
        color: $color-blue-light-3;
    }

    &--purpletext {
        color: $color-purple-light-2;
    }

    &--greentext {
        color: $color-green-light-2;
    }

    &--yellowtext {
        color: $color-yellow-1;
    }

    &--csscode {

        &--block {
            border: 2px solid black;
            border-radius: 3px;
            padding: 1rem;
            width: 100%;
            background-color: $color-grey-dark-4;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 500;
            color: $color-white-2;
            margin: 1rem;
            font-size: 1.5rem;
        }

       

        &-header {
            color: $color-green-light-1;
        }

        &-bracket--1 {
            color: $color-yellow-1;
        }

        &-bracket--2 {
            color: $color-pink-light-1;
        }

        &-bracket--3 {
            color: $color-blue-light-2;
        }
    }



}