.resourcelink {

    &-pagecontainer {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 2rem 4rem;
        margin-top: 3rem;
    }
    
    &--header {
        text-align: center;
        font-size: 2.4rem;
        font-family: 'Lato', sans-serif;
        margin-top: 5rem;
    }

    &-container {
        border: 1px solid darkgrey;
        border-radius: 5px;
        padding: 4rem 2rem;
    }

    &--title {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.2rem;
        
    }

    &--body {
        font-size: 1.2rem;
    }

    &--linkscontainer {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 25rem);
        grid-gap: 4%;
    }
}

